@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao App RBGC</h1>
    <h2 class="display-1">Gestão de Condomínios</h2>
    <p>Saiba mais em <a href="https://www.tecbinda.com.br">tecbinda</a>.</p>
</div>
